                SOFTWARE MODIFICATION REQUIREMENTS FORM

Source: _________________

Date: ___________________

ID: _____________________

Priority:   __ High                  __ Medium                  __ Low

Brief Description (phrase): _________________________________________________

Software Modification Request document (link to appropriate document):

Feasibility:




Module(s) Impacted:





Testing/Verification (with appropriate metrics):




Software Module Checklist(s) (link to appropriate lists):

Software Review Checklist(s) (link to appropriate lists):

Software Release Checklist (link to appropriate lists):

Date Entered into Tracking: _______________

Completion Date: ________________


DATA:

Metrics:






------------------------------------------------------------------------------
General Directions:
The process initiation date should be filled in immediately to initiate 
this process.  The initiation date must be the date of printing.  
The indicated steps or information may be completed in any reasonable order.  
The process shall be considered complete when all steps have been completed.

Specific Directions:



------------------------------------------------------------------------------
QA

Process Ownership:
This document and associated procedure are owned by the Project Leader 
who must approve any changes.  This document is version 1.0 and supercedes 
all previous versions.  This document is under version control.  
All previous versions will print with a banner "OBSOLETE".  

Authority to perform process:
Any team member may initiate a requirement using this procedure. 

If this process or associated document is superceded after an activity 
has been initiated, the process shall be completed under this version 
unless specifically notified otherwise by the team leader.

Stage Entrance and Stage Exit:
The stage entrance is the process initiation by any authorized person.  
All necessary process inputs are build into the checklist.  The stage exit 
is the completion of this form (all steps completed and metrics 
entered.)  Note (see Specific Directions above), the project leader can 
terminate the process once the disposition can be determined to avoid 
wasted effort.
